<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiVersi Splash Screen</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/splash.css"></link>
</head>
<body>
    <div id = "leftSide">
       <div class="buttonsDiv"> <a id="playbtn" href="/play">PLAY</a> </div>
        <br>
        <div class="buttonsDiv"><a id="howbtn" data-instructions="Try to trap your opponent's pieces between two of yours. Person with most pieces at the end wins.">How to play<br></a></div>
    </div>

    <div id="rightSide">
        <img src="images/MultiversiLogo.png" alt="Logo">
        <span></span>
        <h1>
            Players gaming now: <%= playersOnline %> <br>
            Games played: <%= gamesPlayed %> <br>
            Games played by you: <%= gamesPlayedByYou %> <br>
        </h1>
        <h2 class = "credentials">
            Created by
        </h2>
        <h2 class = "credentials">
            gtrevnenski and ggenkov
        </h2>
    </div>
    
</body>
</html>