html, body, section { height: 100%; width: 100%; margin: 0; overflow: auto; margin: auto; background-color: seagreen; }
#leftSide{
    float:left;
    width: 100vh;
    height: 100%;
}
#rightSide{
    overflow: hidden;
    margin-left: 6%;
}
#playbtn{
    color: red;
    background-color: seagreen;
    text-decoration: underline;
    font-weight: bold;
    font: 80px Helvetica, Arial, sans-serif;
    
}
.credentials{
    font-style: italic;
    font: 20px Verdana, Geneva, sans-serif;
}

#howbtn{
    cursor: help;
    color: red;
    font-style: italic;
    font: 80px Helvetica, Arial, sans-serif;
}

#howbtn:hover::after{
    width: 20vw;
    overflow: visible;
    position: absolute;
    font-size: 50%;
    border: dashed;
    padding: 5px;
    content: attr(data-instructions);
}

.buttonsDiv{
    float: left;
    padding-top: 18vh;
    padding-left: 15vw;}