html, body, section { height: 100%; width: 100%; margin: 0; overflow: auto; margin: auto; background-color: seagreen; }
#leftSide{
    float:left;
    width: 100vh;
    height: 100%;
}
#rightSide{
    overflow: hidden;
    margin-left: 6%;
}
#playbtn{
    color: red;
    background-color: seagreen;
    text-decoration: underline;
    font-weight: bold;
    font: 80px Helvetica, Arial, sans-serif;
    transition: color 0.5s ease;
}

#playbtn:hover{
    color: darkred;
}

.credentials{
    font-style: italic;
    font: 20px Verdana, Geneva, sans-serif;
}

#howbtn{
    cursor: help;
    color: red;
    font-style: italic;
    font: 80px Helvetica, Arial, sans-serif;
    animation: flickerAnimation 1.5s linear 2;;
}
#howbtn:hover{
    animation: none;
    animation-play-state: paused;
}
#howbtn:hover::after{
    width: 20vw;
    overflow: visible;
    position: absolute;
    font-size: 50%;
    border: dashed;
    padding: 5px;
    content: attr(data-instructions);
}
a:active {
    background-color: yellow;
}

.buttonsDiv{
    position: relative;
    float: left;
    padding-top: 18vh;
    padding-left: 15vw;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}